# Dependencies
node_modules/

# Environment variables
.env

# Firebase credentials
firebase-service-account.json

# OS files
.DS_Store
Thumbs.db
__MACOSX/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
